/* Hack per evitare lo slittamento laterale quando si apre il menu modale.
Funziona su tutto tranne che safari IOS. 16px è la misura della scrollbar */
html {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  padding-right: 16px;
}
body {
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
/* Classe da assegnare al momento della visualizzazione di modali */
html.active{
  overflow-y: hidden;
}
body.active {
  height: 100vh;
  overflow-y: hidden;
}

/* Ordine inverso/reimposto ordine di default */
.r-reverse {
  flex-direction: row-reverse;
}
.c-reverse {
  flex-direction: column-reverse;
}

/* Sostituzione testi con immagine di sfondo */
.t-hide {
  display: block;
  text-indent: 150%; /* In teoria 100%, ma abbondiamo per evitare errori dati da padding/margin */
  white-space: nowrap;
  overflow: hidden;
}

/* Lista orizzontale */
.t-hlist {
  display: flex;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Allineamenti testo e elementi inline */
.t-center {
  justify-content: center;
  text-align: center;
}
.t-left {
  justify-content: flex-start;
  text-align: left;
}
.t-right {
  justify-content: flex-end;
  text-align: right;
}
.t-justify {
  justify-content: space-around;
  text-align: justify;
}

/* Utility class per toggler */
.active {
  display: initial;
}

/* Modal con ::target */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
}
.modal:target {
  display: block;
}

/* Media query per i dispositivi che non prevedono il comportamento Hover */
@media (hover: none) {

}
